<!-- <ion-header>
  <ion-toolbar>
    <ion-title>cars-list</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card-header>
          <ion-card-title class="ion-padding ion-text-center" *ngIf="authService.user$ | async as user">Welcome
            <b>{{user.displayName}}</b>!</ion-card-title>
        </ion-card-header>
        <ion-card class="ion-padding">
          <ion-card-content>
            <ion-item-divider>
              <ion-label>
                Cars:
              </ion-label>
            </ion-item-divider>
            <ion-list *ngIf="cars$ | async as cars">
              <div *ngFor="let car of cars">
                <ion-item>
                  <ion-label position="floating">Make</ion-label>
                  <ion-input [(ngModel)]="car.Make" name="make">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Max Speed</ion-label>
                  <ion-input [(ngModel)]="car.Max_speed" name="Max_speed">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Engine Size</ion-label>
                  <ion-input [(ngModel)]="car.Engine_size" name="Engine_size">
                  </ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Created Date: {{car.Created_date.toDate().toLocaleString()}}</ion-label>
                </ion-item>
                <ion-button color="success"(click)="onEdit(car)"><ion-icon name="save" slot="start"></ion-icon>Save</ion-button>
                <ion-button color="danger" (click)="onDelete(car.id)">
                  <ion-icon name="trash" slot="start"></ion-icon>Delete
                </ion-button>
              </div>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>