<ion-content>

  <ion-grid>
    <ion-row>
      <ion-col size-md="6" offset-md="3">
        <ion-card class="ion-padding">
          <ion-card-header>
            <ion-card-title>Login</ion-card-title>
            <ion-card-subtitle>Please login or create user.</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item>
                <ion-label position="floating">Email</ion-label>
                <ion-input type="email" [(ngModel)]="email" ngModel name="email" required email #emailCtrl="ngModel">
                </ion-input>
              </ion-item>
              <ion-item class="error-message" *ngIf="!emailCtrl.valid && emailCtrl.touched" lines="none">
                <ion-label color="medium">Enter a valid email.</ion-label>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Password</ion-label>
                <ion-input [type]="passwordType" [(ngModel)]="password" ngModel name="password" required
                  #passwordCtrl="ngModel"></ion-input>
                <ion-icon class="password-eye-icon" *ngIf="passwordCtrl.value != '' && passwordCtrl.dirty"
                  [name]="passwordIcon" color="medium" (click)="onTogglePassword()" slot="end"></ion-icon>
              </ion-item>
              <ion-item class="error-message" *ngIf="!passwordCtrl.valid && passwordCtrl.touched" lines="none">
                <ion-label color="medium">Enter a password.</ion-label>
              </ion-item>

            </ion-list>
            <ion-button type="button" color="primary" expand="block" (click)="onLogin()" [disabled]="!emailCtrl.valid || !passwordCtrl.valid">Login</ion-button>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>